*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: black;
}
.carousel-item img{
    height: 80vh;
}
#carouselExampleIndicators li{
    width: 10px;
    height: 10px;
    margin-top: 12px;
    border-radius: 100%;
    -webkit-border-radius:100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius:100%;
}
#start{
    text-align: center;
    padding: 12px;
    border: 1px solid #FCA311;
    width: 250px;
    margin: auto;
    color: #FCA311;
    margin-top: 18px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

#star:hover{
    background-color: #FCA311;
    color: black;
}

.row h1{
    text-align: center;
    padding: 1px 40px 12px 20px;
    border: 1px solid #FCA311;
    color: #ffffff;
    background-color: #14213D;
    width: 30px;
    margin: auto;
    border-radius: 100%;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px; 
    -ms-border-radius: 400px;
    -o-border-radius: 400px; 
}
.card {
    padding: 20px;
}
.input-section{
    background-color: #e5e5e5;
    height: 60vh;
    margin-top: 20px;
    padding-top: 100px;
}
.input-section > .card{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
.input-section > .card > .card-title{
    margin-top: 30px;
}
.input-section label{
    font-size: 18px;
}
footer {
    margin-top: 400px;
    text-align: center;
    height: 20vh;
    color: #000000;
    padding-top: 70px;
    background-color: #FCA311;
    font-size: 15px;
}
.input-section h1{
    text-align: center;
}
.row p{ 
    font-size: 15px;
}
@media screen and (max-width:700px){
    .input-section > .card {
        width: 80%;
    }
}